---
export const prerender = false;

import { actions, isInputError } from "astro:actions";
import PageLayout from '~/layouts/PageLayout.astro';
import ContentLayout from "~/layouts/ContentLayout.astro";
import {
  Input,
  Textarea,
  Disclaimer
} from '~/components/common/form';
import SubmitButton from "~/components/ui/form/SubmitButton.astro";
import type { Contact as Props } from '~/types/global';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);

const metadata = {
  title: 'Contact',
};

const result = Astro.getActionResult(actions.sendEmail);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};

if (result && !result?.error) {
  return Astro.redirect(`/${lang}`)
}
---
<PageLayout metadata={metadata} lang={lang}>
  <Fragment slot="header"></Fragment>

  <ContentLayout 
    title={translate("contact.title")}
  >
    <div class="flex justify-center">
      <form action={actions.sendEmail} method="post" class="w-full max-w-3xl">
        <Input 
          type="text"
          name="name"
          label={translate("contact.form.label.name")}
          required
          errors={inputErrors.name}
        />
        <Input 
          type="email"
          name="email"
          label={translate("contact.form.label.email")}
          required
          errors={inputErrors.email}
        />
        <Textarea 
          name="message"
          label={translate("contact.form.label.message")}
          errors={inputErrors.message}
        />
        <Disclaimer 
          name="disclaimer"
          required
          errors={inputErrors.disclaimer}
          label={translate("contact.form.label.disclaimer")}
        />
        <SubmitButton
          label="Send"
        />  
      </form>
    </div>
  </ContentLayout>
</PageLayout>
