---
import Layout from '~/layouts/PageLayout.astro';
import ContentLayout from '~/layouts/ContentLayout.astro';
import SubContentLayout from '~/layouts/SubContentLayout.astro';
import {
  Hero,
  Marquee,
  Timeline
} from '~/components/features';
import { Card, Image } from '~/components/common';

import AvatarImage from '~/assets/images/avatar.jpg';
import PCImage from '~/assets/images/pc.jpg';

import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { languages } from '~/i18n/ui';

const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);
export async function getStaticPaths() {
  return Object.keys(languages).map((key) => ({ params: { locale: key } }))
}

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata} lang={lang}>
  <Fragment slot="header"></Fragment>

  <!-- Hero -->
  <Hero 
    title={translate("index.hero.title")}
    subtitle={translate("index.hero.subtitle")}
    href={`${lang}/contact`}
  />

  <!-- About me -->
  <ContentLayout
    id="about"
    title={translate("index.about.title")}
    tagline={translate("index.about.tagline")}
  >
    <div class="mx-auto max-w-7xl p-4 md:px-8">
      <div class={`md:flex md:gap-16`}>
        <div class="md:basis-1/2 self-center">
          <p>{translate("index.about.content.intro")}</p>
          <br />
          {
            translate("index.about.content.paragraphs").map((text) => (
              <p>{text}</p>
            ))
          }
        </div>
        <div aria-hidden="true" class="mt-10 md:mt-0 md:basis-1/2">
          <Image
            class="mx-auto w-ful rounded-full"
            width={500}
            height={500}
            widths={[400, 768]}
            sizes="(max-width: 768px) 100vw, 432px"
            layout="responsive"
            src={AvatarImage}
            alt="avatar"
            loading="eager"
          />
        </div>
      </div>
    </div>
  </ContentLayout>

  <!-- Work Experience -->
  <SubContentLayout
    id="resume"
    title={translate("index.work.title")}
  >
    <Timeline
      items={
        translate("index.work.content.experiences").map((experience) => ({
          title: experience.title,
          place: experience.place,
          year: experience.year,
          description: [...experience.description],
          icon: "tabler:briefcase"
        }))
      }
      classes={{ container: 'max-w-3xl' }}
    />
  </SubContentLayout>

  <!-- Education -->
  <SubContentLayout
    id="resume"
    title={translate("index.education.title")}  
  >
    <Timeline
      items={
        translate("index.education.content.experiences").map((experience) => ({
          title: experience.title,
          description: [...experience.description],
          year: experience.year,
          icon: "tabler:briefcase"
        }))
      }
      classes={{ container: 'max-w-3xl' }}
    />
  </SubContentLayout>

  <!-- Skills -->
  <SubContentLayout
    id="skills"
    title="Skills"  
  >
    <Marquee
      items={[
        {
          image: {
            src: 'https://skillicons.dev/icons?i=html',
            alt: 'html'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=css',
            alt: 'css'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=js',
            alt: 'js'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=ts',
            alt: 'ts'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=php',
            alt: 'php'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=laravel',
            alt: 'laravel'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=nestjs',
            alt: 'nestjs'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=nodejs',
            alt: 'nodejs'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=react',
            alt: 'react'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=nextjs',
            alt: 'nextjs'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=astro',
            alt: 'astro'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=mysql',
            alt: 'mysql'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=postgres',
            alt: 'postgres'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=docker',
            alt: 'docker'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=git',
            alt: 'git'
          },
        },
        {
          image: {
            src: 'https://skillicons.dev/icons?i=github',
            alt: 'github'
          },
        }
      ]}
    />
  </SubContentLayout>

  <!-- Projects -->
  <ContentLayout
    id="projects"
    title={translate("index.project.title")}
    tagline={translate("index.project.tagline")}
  >
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 place-items-center">
      <Card 
        title="Coming Soon...."
        description=""
        image={{
          src: PCImage,
          alt: "PC"
        }}
        callToActions={[
          {
            variant:"secondary",
            text: "Try now",
            href: ""
          },
          {
            variant:"link",
            icon: "tabler:brand-github",
            href: "https://github.com/gucchunchun"
          }
        ]}
      />
      <Card 
        title="Coming Soon...."
        description=""
        image={{
          src: PCImage,
          alt: "PC"
        }}
        callToActions={[
          {
            variant:"secondary",
            text: "Try now",
            href: ""
          },
          {
            variant:"link",
            icon: "tabler:brand-github",
            href: "https://github.com/gucchunchun"
          }
        ]}
      />
      <Card 
        title="Coming Soon...."
        description=""
        image={{
          src: PCImage,
          alt: "PC"
        }}
        callToActions={[
          {
            variant:"secondary",
            text: "Try now",
            href: ""
          },
          {
            variant:"link",
            icon: "tabler:brand-github",
            href: "https://github.com/gucchunchun"
          }
        ]}
      />
    </div>
  </ContentLayout>

</Layout>
