---
import { actions, isInputError } from "astro:actions";
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Input from "../ui/form/Input.astro";
import Textarea from "../ui/form/Textarea.astro";
import Disclaimer from "../ui/form/Disclaimer.astro";
import SubmitButton from "../ui/form/SubmitButton.astro";
import type { Contact as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const result = Astro.getActionResult(actions.sendEmail);
console.log("Action Result:", result);
const inputErrors = isInputError(result?.error) ? result.error.fields : {}

---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="flex justify-center">
    <form action={actions.sendEmail} method="post" class="max-w-5xl">
      <Input 
        type="text"
        name="name"
        label="Name"
        required
        errors={inputErrors.name}
      />
      <Input 
        type="email"
        name="email"
        label="Email"
        required
        errors={inputErrors.email}
      />
      <Textarea 
        name="message"
        label="Message"
        errors={inputErrors.message}
      />
      <Disclaimer 
        name="disclaimer"
        required
        errors={inputErrors.disclaimer}
        label="By submitting this contact form, you acknowledge and agree to the collection of your personal information."
      />
      <SubmitButton
        label="Send"
      />  
    </form>
  </div>


</WidgetWrapper>
