---
import { Logo } from '~/components/layouts';
import { ToggleTheme, ToggleMenu } from '~/components/common';
import { LanguageSwitcher } from '~/components/features';
import { getPermalink } from '~/utils/permalinks';
import { defaultLang } from '~/i18n/ui';
import type { Header as Props } from '~/types/global';

const {
  lang = defaultLang
} = Astro.props;

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

const links: Array<MenuLink> = [
  { text: 'Home', href: getPermalink(`${lang}#`) },
  { text: 'About', href: getPermalink(`${lang}#about`)},
  { text: 'Resume', href: getPermalink(`${lang}#resume`)},
  { text: 'Projects', href: getPermalink(`${lang}#projects`) },
  { text: 'Blog', href: getPermalink(`/blogs`) },
  { text: 'Contact', href: getPermalink(`${lang}/contact`)},
  { text: 'Github', href: 'https://github.com/gucchunchun' },
]
---

<header
  class="top-0 z-40 flex-none mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out sticky"
  id="header"
>
  <div class="flex justify-between text-default py-3 px-3 md:px-6 mx-auto w-full" >
    <!-- Logo -->
    <div class="flex justify-between" >
      <a class="flex items-center" href={getPermalink(`/${lang}`)}>
        <Logo />
      </a>
    </div>
    <!-- Hamburger Button -->
    <div class="flex items-center md:hidden">
      <ToggleMenu />
    </div>
    <nav
      class="text-default hidden items-center w-full overflow-y-auto overflow-x-hidden md:w-auto md:flex md:mx-5 md:overflow-y-visible md:overflow-x-auto md:justify-self-center"
      aria-label="Main navigation"
    >
      <!-- Link -->
      <ul
        class="flex flex-col w-full h-full pt-20 pb-20 text-xl font-medium justify-between md:flex-row md:self-center md:p-0 md:text-[0.9375rem] tracking-[0.01rem] md:justify-center md:gap-6"
      >
        {
          links.map(({ text, href }) => (
            <li class="flex justify-center items-center">
                <a
                  class="w-fit h-fit whitespace-nowrap leading-none hover:border-b-2 dark:hover:text-white "
                  href={href}
                >
                  {text}
                </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <!-- Toggle Theme Button -->
    <div class="hidden flex fixed w-full items-center justify-end left-0 gap-2 rtl:left-auto rtl:right-0 bottom-0 p-3 md:flex md:self-center md:mb-0 md:w-auto md:static md:p-0">      
      <LanguageSwitcher />  
      <ToggleTheme iconClass="w-6 h-6 md:w-5 md:h-5 md:inline-block" />
    </div>
  </div>
</header>